@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
  --primary: #bc4123;
  --secondary: #2b3452;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Poppins';
  transition: all 0.3s ease;
}

.root-layout {
  margin: auto;
  background-color: var(--secondary);
  height: 100%;
  min-height: 100vh;
}

a {
  color: white;
}

/* nav bar */
header nav {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

header nav h1 {
  margin-right: auto;
  color: white;
  border-bottom: 3px solid var(--primary);
}

header nav a {
  text-decoration: none;
  padding: 6px 10px;
  border-radius: 4px;
  color: white;
}

header nav a.active {
  background-color: var(--primary);
}

header nav a:hover {
  color: beige;
}

/* main */
main {
  max-width: 1200px;
  margin: auto;
  padding: 1rem 0;
}

.home {
  padding: 0 1rem;
  color: white;
  height: 100%;
}

.home input {
  border-radius: 1rem;
  padding: 4px 10px;
  min-width: 15rem;
  margin: 1rem auto 1.5rem;
  font-size: 1rem;
}
/* breweries-list */
.breweries-list {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 1.5rem;
  justify-content: space-between;
}

.breweries-list .brewery {
  width: 370px;
  border-radius: 0.5rem;
  /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
  rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
  background: rgba(0,0,0,0.15);
}

.breweries-list .brewery:hover {
  background: rgba(0,0,0, 0.3);
}

.breweries-list a {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-decoration: none;
  margin: 1.25rem 0;
  color: lightgrey;
}

.breweries-list a h2 {
  color:royalblue;
}

.breweries-list p {
  padding-top: 0.9rem;
  font-weight: 500;
}

/* About page */
.about-page {
  height: 100vh;
  padding: 0 1rem;
  color: white;
}

/* Contact page */
.contact-page {
  height: 100vh;
  color: white;
  padding: 0 1rem;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact-page form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 1rem auto;
  gap: 0.7rem;
}

.contact-page p, h2 {
  margin: auto;
}

.contact-page input, textarea, button {
  border-radius: 6px;
  padding: 4px 10px;
  font-size: 1rem;
}

.contact-page button {
  width: fit-content;
  padding: 6px 1rem;
  margin: 0.8rem auto;
  font-weight: 600;
}

.contact-page button:hover {
  background-color: var(--primary);
  color: white;
}

/* Brewery Details page */
.brewery-details {
  height: 100vh;
  padding: 0 1rem;
}

.brewery-details p {
  margin-bottom: 2rem;
}

.brewery-details .details {
  border-radius: 0.5rem;
  background: rgba(0,0,0,0.15);
  color: lightgrey;
  padding: 1rem 2rem 0
}

.brewery-details .details:hover {
  background: rgba(0,0,0, 0.3);
  color: beige;
}

.brewery-details h2  {
  color: royalblue;
  margin-left: 0;
  margin-bottom: 1rem;
}

.details__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0 2rem;
}